jsconfig.json
*.fish
*.workspace
.vscode/launch.json
node_modules/*
package-lock.json
/.trunk
xoblock3.code-workspace
.vscode/settings.json
jest.config.ts
yarn.lock
*.lock
package.json
staging/output.html
staging/pyproject.toml
