body {
  background-color: #222;
  color: #eee;
}

label {
  display: block;
  margin-top: 10px;
  color: red;
}

input, textarea {
  width: 100%;
  padding: 5px;
  background-color: #444;
  color: #eee;
}